@tailwind base;
@tailwind components;
@tailwind utilities;


.ant-upload,
.ant-upload-select {
    border: none !important;
    background-color: white !important;
    width: 200px !important;
    height: 200px !important;
}
